.item-list {
  margin: 20px 0;
}

.item-list strong a {
  color: #539BF5;
  font-size: 24px;
  text-decoration: none;
}

.item-list p {
  color: #999999;
  font-size: 14px;
  margin: 5px 0 30px;
}